body {
    background-color: #666699;
}

.nav-pills>li>a.active, .nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background-color: #5c5cd6!important;
}

.lavender {
    background-color: #5c5cd6;
}

#nav {
    font-size:110%;
}